:root {
    --transition-card: all 200ms ease-in-out;
}

.scrollWrap {
    overflow-x: scroll;
    align-items: center;
}

    .scrollWrap > div {
        display: flex;
        gap: 1rem;
    }

    .scrollWrap > div > * {
        flex: none;
    }

    .scrollWrap > div > .cardProject {
        width: 18rem;
        min-height: 15rem;
        position: relative;
        padding: 2rem;
        border: 1px solid hsla(56, 94%, 94%, 0.6);
        border-radius: 10px;
        transition: var(--transition-card);
    }

    @media screen and (min-width:1400px) {
        .scrollWrap {
            display: block;
        }
        .scrollWrap > div {
            width: 100%;
            flex: 1 1;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            grid-auto-rows: 1fr;
        }
        .scrollWrap > div > .cardProject {
            width: 100%;
        }
    }

.scrollWrap > div > .cardProject .cardTop {
    margin-bottom: 4rem;
    transition: var(--transition-card);
}
    .scrollWrap > div > .cardProject .cardTop h4 {
        transition: var(--transition-card);
    }

.scrollWrap > div > .cardProject .cardInfo .info {
    min-height: 10rem;
}
    .scrollWrap > div > .cardProject .cardInfo .info a {
        color: var(--bs-body-color);
        text-decoration: none;
    }

    .scrollWrap > div > .cardProject .cardInfo h4 {
        font-size: clamp(1.375rem, 1.2157rem + 0.6536vw, 2rem);
        min-height: 6rem;
        font-weight: 600;
    }

.scrollWrap > div > .cardProject .figSvg {
    width: 1.875rem;
    height: 1.875rem;
    transition: var(--transition-card);
}
  
  .scrollWrap > div > .cardProject .figSvg svg {
        transition: var(--transition-card);
    }

.scrollWrap > div > .cardProject:hover {
    background-color: var(--darkGreen);
    border: 1px solid var(--darkGreen);
}
.scrollWrap > div > .cardProject:hover .cardTop > .figSvg:first-child svg {
    fill: var(--color-primary)
}
.scrollWrap > div > .cardProject:hover .cardInfo h4 {
    color: var(--color-primary)
}

.cardProject:hover .figSvg {
    color: var(--color-primary)
} 
.cardProject:hover svg path {
    stroke: var(--color-primary);
}
.cardProject:hover .cardInfo .figSvg {
    transform: translate3d(15px, -15px, 10px);
}

.tecnologies > span + span {
    position: relative;
    padding-left: 1.3rem;
    left: 1rem;
}

    .tecnologies > span + span::before {
        position: absolute;
        content: '';
        background-color: var(--color-primary);
        width: .4rem;
        height: .4rem;
        border-radius: 50%;
        top: 25%;
        left: 0rem;
    }