._about .figSvg {
    position: absolute;
    top: -1rem;
    right: 10vw;
    width: 30vw;
    height: 30vw;
    transition: var(--transition-card);
    margin-left: 1rem;
}
@media (min-width:768px) {
    ._about .figSvg {
        top: -2rem;
        right: 14%;
        width: 12vw;
        height: 12vw;
    }
}
@media (min-width:1440px) {
    ._about .figSvg {
        top: -7vh;
        right: 30%;
    }
}
  
