._about .figSvg {
    position: absolute;
    top: -1rem;
    right: 0;
    width: max(7rem, 12vw);
    height: max(7rem, 12vw);
    transition: var(--transition-card);
    margin-left: 1rem;
}

._about ._fotoWrap img {
    width: clamp(14rem, 30vw, 25rem);
    border-radius: .5rem;
    justify-self: center;
}

@media (min-width:768px) {
    ._about .figSvg {
        top: -2rem;
    }
    ._about ._fotoWrap img {
        justify-self: end;
    }
}
@media (min-width:1440px) {
    ._about .figSvg {
        top: -7vh;
    }
}
  
