/* mobile */
.navMobile {
   top: 0;
}
    .navMobile a {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid white;
        font-weight: 600;
    }

    .nav-link {
        color: white!important;
    }
        .nav-link:hover {
            color: var(--color-primary)!important;
        }
        .hamburger-react {
            position: fixed !important;
            top: .5rem;
            right: .5rem;
            z-index: 1000;
        }

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

@media (max-width:991px) {
    .navMobile {
        position: fixed;
        left: 0;
        right: 0;
        padding: 6rem 1.5rem 3rem 1.5rem;
        background: var( --darkGreen);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-nav .nav-link:nth-child(3) {
        margin-top: 2rem;
        font-size: 2rem;
        padding: .5rem 1rem!important;
    }
}

.navbar>.container-lg {
    border-bottom: 0.5px solid hsla(56, 94%, 94%, 1);
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.navbar-nav .nav-link:nth-child(3) {
    @apply btn;
    border: 2px solid var(--color-primary);
    color: var(--color-primary)!important;
    border-radius: 6.25rem;
    padding: 0 0.5em;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
    .navbar-nav .nav-link:nth-child(3):hover {
        color: black !important;
        background-color: var(--color-primary);
    }

@media (min-width:991px) {
    .navMobile{
        display: none;
    }
    .hamburger-react {
        display: none;
    }
}
@media (min-width:768px) {
    .navbar>.container-lg {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .circleBefore {
        position: relative;
        padding-left: 2rem;
        left: 1.5rem;
    }
        .circleBefore::before {
            position: absolute;
            content: '';
            background-color: var(--color-primary);
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            top: 35%;
            left: 0rem;
        }
}
