/* mobile */
.nabMobile {
    top: 4.1rem;
}
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

@media (max-width:990px) {
    .nabMobile {
        position: fixed;
        left: 0;
        right: 0;
        padding: 1.5rem;
        background: var(--darkGreen);
        border-bottom: 1px solid white;
        min-height: 100vh;
        display: flex;
        align-items: self-start;
    }
}

.navbar>.container-lg {
    border-bottom: 0.5px solid hsla(56, 94%, 94%, 1);
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.nav-link {
    color: white!important;
}

.navbar-nav .nav-link:nth-child(3) {
    @apply btn;
    border: 1px solid var(--color-primary);
    color: var(--color-primary)!important;
    border-radius: 6.25rem;
    padding: 0 0.5em;
    display: inline-flex;
    align-items: center;
}

@media (min-width:991px) {
    .nabMobile {
        display: none;
    }
    .hamburger-react {
        display: none;
    }
}
@media (min-width:768px) {
    .navbar>.container-lg {
        padding-top: 1rem;
    }
    .nabMobile {
        top: 4.6rem;
    }

    .circleBefore {
        position: relative;
        padding-left: 2rem;
        left: 1.5rem;
    }
        .circleBefore::before {
            position: absolute;
            content: '';
            background-color: var(--color-primary);
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            top: 35%;
            left: 0rem;
        }
}
