:root {
  --bg-Work: var(--bs-orange);
  --bg-Playground: var(--color-secondary);
}

.works-container {
  padding: 0 0 6rem;
}

.list-group-item {
  background-color: transparent;
  color: white;
  padding: 1.5rem 1rem;
  transition: all ease-in-out 300ms;
  position: relative;
  border-left: none;
  border-right: none;
}

.list-group-item ._cta {
  position: relative;
  width: 4rem;
  height: 2rem;
}

.list-group-item ._cta svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.list-group-item:hover {
  background-color: hsla(56, 94%, 94%, 1);
  color: black;
  transform: translateX(10px);
}

.list-group-item:hover svg rect {
  fill: black;
}

.badge {
  font-size: clamp(0.6rem, 0.498rem + 0.4183vw, 1rem)!important;
}

