/* footer */
.footer .container-lg {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
    .footer .row:nth-child(2) {
        margin-bottom: 4.5rem;
    }

    .footer a:not(.btn) {
        color: var(--bs-dark-rgb);
    }
        .footer a:not(.btn):hover {
            color: var(--bs-orange);
        }

/* button */
.btn {
    font-family: var(--bs-body-font-family);
    border-radius: 6.25rem;
    padding: .4em 2.5em;
}