:root {
    --base: .6rem;
}

.icon-scroll {
  position: absolute;
  left: 50%;
  bottom: 15vh;
  width: calc(var(--base) * 3.5);
  height: calc(var(--base) * .8);
  opacity: 0;
  transform: scale(0.3);
  animation: move-icon-scroll 3s ease-out infinite;
}

.icon-scroll:first-child {
  animation: move-icon-scroll 3s ease-out 1s infinite;
}

.icon-scroll:nth-child(2) {
  animation: move-icon-scroll 3s ease-out 2s infinite;
}

.icon-scroll:before,
.icon-scroll:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    background: #aea4a4;
}

.icon-scroll:before {
 left: 0;
 transform: skewY(30deg);
}

.icon-scroll:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-icon-scroll {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(calc(var(--base) * 3.8));
 }
 66.6% {
  opacity: 1;
  transform: translateY(calc(var(--base) * 5.2));
 }
 100% {
  opacity: 0;
  transform: translateY(calc(var(--base) * 8)) scale(0.5);
 }
}