/* ._parallaxWrapper {
    background-color: transparent;
    border: 1px solid red;
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 200vh;
}*/

._bg-Blur {
    background: hsla(185, 98%, 11%, .25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
}
