:root {
  --color-primary: #EAFD53;
  --color-secondary: #9D95FF;
  --bs-orange: #FE8708;
  --bs-green: #7EE787;
  --bs-link-color-rgb: 
}

.fs-huge {
  font-size: clamp(2.986rem, -0.0616rem + 12.503vw, 14.942rem);
}
.fs-h1 {
  font-size: clamp(2.5rem, 0.1827rem + 9.5069vw, 11.591rem);
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-secondary {
  color: var(--color-secondary);
}


.transitionText {
  transition: all 50ms ease-in-out;
}


@font-face {
  font-family: 'pp_moriregular';
  src: url('/src/assets/fonts/PPMori-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'pp_moriextralight';
  src: url('/src/assets/fonts/PPMori-Extralight.otf') format("opentype");
  font-weight: 300;
  font-style: normal;

}
@font-face {
  font-family: 'pp_morisemibold';
  src: url('/src/assets/fonts/PPMori-SemiBold.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}