:root {
  --color-primary: #EAFD53;
  --color-secondary: #9D95FF;
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-secondary {
  color: var(--color-secondary);
}

.fs-huge {
  font-size: 10rem;
}

.transitionText {
  transition: all 50ms ease-in-out;
}
