:root {
  --color-primary: #EAFD53;
  --color-secondary: #9D95FF;
  --bs-orange: #FE8708;
  --bs-green: #7EE787;
  --bs-link-color-rgb: 
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-secondary {
  color: var(--color-secondary);
}

.fs-huge {
  font-size: 10rem;
}

.transitionText {
  transition: all 50ms ease-in-out;
}
